{% extends 'index.html' %}

{% block content %}

<div class="jumbotron text-center" style="background-image: url('/static/img/img14.jpg'); background-repeat: no-repeat; background-size: cover;">
	<br><br><br><br><br>
<h1 style="color: white">About Us</h1>
<br><br><br><br><br>
</div>

<div class="container-fluid">
    <div class="row featurette">
      <div class="col-md-7 order-md-2" style="text-align: justify;">
      	<br>
      	<h2>About Us</h2>
      	<br>
        <p class="">Mlilo Road Markings is a specialist Line Marking company that covers the entire South Africa and all the neighboring countries. Working with clients both in the Public & Private sector Mlilo Road Markings prides itself on offering unrivaled service at competitive rates.</p><br>
        <p>We are committed to giving the best service from the moment you contact us. We can advise on the best products and best value for money with whole life time cost explained. We have a hugely experienced management team and fully qualified staff who are trained in the many disciplines we undertake.</p><br>
        <p>At Mlilo Road Markings we understand the importance of getting the job completed on time, first time whatever the size or budget of the project. All work is carried out by our trained, experienced and dedicated employees who prides in the final output of their work.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="" src="/static/img/Project.jpg" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" ><rect width="100%" height="100%" fill="#eee"/></img>
      </div>
    </div>
</div>
<br>
<br>
<br>

<div class="jumbotron" style="background-image: url('/static/img/Project4.jpg'); background-repeat: no-repeat; background-size: cover; color: white;">
	<h1>Vision</h1>
	<p>To be Africa’s best road marking company through the provision of quality services at affordable rates.</p>
	<hr>
	<h1>Mission</h1>
	<p>To meet our clients’ road marking needs.</p>
	<hr>
	<h1>Why choose us?</h1>
	<p>We charge affordable rates without compromising on quality of the output.
All our employees are dedicated, qualified and experienced in the industry.
Our business strategy encompasses meeting deadlines and providing high quality services to clients.
We provide advise on the perfect paint to choose for a specific surface.</p>
	<hr>
</div>
{% endblock %}