{% extends 'index.html' %}

{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Our Partners</h1>
          <div class="row">
            <div class="col-md-4">
                <img class="card-img-top" src="/static/img/IAGSoftwareDevelopers.jpg" alt="Card image cap" style="height: 200px; width: 250px;">
            </div>

            <div class="col-md-4">
                <a href="http://www.iagcs.co.za/"><img class="card-img-top" src="/static/img/IAGConstructionSolutions.jpg" alt="Card image cap" style="height: 200px; width: 250px;"></a>

            </div>

            <div class="col-md-4">
            	<br>
            	<br>

               <a href="http://www.sapaverstilers.co.za/"> <img class="card-img-top" src="/static/img/SAPaversandTilers.jpg" alt="Card image cap" style="height: 100px; width: 200px;"></a>

            </div>

            <div class="col-md-4">
                <a href="http://www.intellectafrica.group/"><img class="card-img-top" src="/static/img/IntellectAfricaGroup.jpg" alt="Card image cap" style="height: 50px; width: 240px;"></a>

            </div>            
           </div>

        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
        	<h1 class="jumbotron-heading" style="text-align: center;">Our Recent Projects</h1><br>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Tsakane_.jpg" alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Tsakane_12.jpg" alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Island_.jpg" alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/SC_1.jpeg" alt="Card image cap">
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parkings_13.jpeg" alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parallel_Parking.jpeg" alt="Card image cap">
              </div>
            </div>

                        <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parkings_8.jpeg" alt="Card image cap">
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parkings_2.jpeg" alt="Card image cap">
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Arorow_2.jpeg" alt="Card image cap">
              </div>
            </div>


             <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parkings_6.jpeg" alt="Card image cap">
              </div>
            </div>
            

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parkings_10.jpeg" alt="Card image cap">
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Parkings_9.jpeg" alt="Card image cap">
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Island_4.jpg" alt="Card image cap">
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Arrows_.jpg" alt="Card image cap">
              </div>
            </div>  

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Arrow_1.jpg" alt="Card image cap">
              </div>
            </div>    


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/Arrows_.jpeg" alt="Card image cap">
              </div>
            </div> 



                                                       

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/SC_1.jpeg" alt="Card image cap">
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/img/TrafficSigns1.jpeg" alt="Card image cap">
              </div>
            </div>          



          </div>
        </div>
      </div>

    </main>



{% endblock %}