{% extends 'index.html' %}

{% block content %}


<div class="carousel-inner" role="listbox">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
          	<div class="img1">

        	</div>
            <div class="container">
              <div class="carousel-caption text-left">
              	<div class="jumbotron text-center" style="background-color: rgba(0,0,0,0.2);">
              		<h1> Road Markings<h1>
              		<h4><i>Reaching new heights</i><h4>
              	</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
          	<div class="img3">
          		<img src="/static/img/img2.jpg" alt="Smiley face" width="42" height="42">
            </div>
            <div class="container">
              <div class="carousel-caption">
               	<div class="jumbotron text-center" style="background-color: rgba(0,0,0,0.2);">
              		<h1> Road Markings<h1>
              			<h4><i>Reaching new heights</i><h4>
              	</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
          	<div class="img2">

            </div>
            <div class="container">
              <div class="carousel-caption text-right">
              	<div class="jumbotron text-center" style="background-color: rgba(0,0,0,0.2);">
              		<h1> Road Markings<h1>
              		<h4><i>Reaching new heights</i><h4>
              	</div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>



<div class="container">
	<br>
	<br>
	<h5 class="text-center">Just talk to our experts and get your dream project ready… 
		<a href="contact"><button class="btn btn-danger" type="button">Contact Us</button></a>
	</h5>	
	<br>
</div>
<hr>



<div class="container-fluid">
	<br>
<h1>Our Services</h1>
<p>Mlilo Road Markings are committed to giving the best service from the moment you contact us. We can advise on the most suitable products for the purpose required for which ever surface to be applied on.</p>
<hr>
</div>

<div style="background-color: black">
	<br>
<nav class="navbar" style="background: linear-gradient(to right, 
     white 20%, black 20% 40%, white 40% 60%, black 60% 80%, white 80%);">
  <span class="navbar-brand mb-0 h1"> </span>
</nav>
<br>
</div>

<hr>



<div class="container">
<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      	<div class="col-xs-7 text-center">
    		<img src="/static/img/img17.jpg" height= 100px width= 100px class="rounded-circle" alt="HelPic">
		</div>
		<br>
        <h5 class="card-title text-center">Specialised Markings</h5>
        <p class="card-text">We specialise in pointing the following areas:</p>
        <li>Bicycle Lanes</li>
        <li>Parking Areas</li>
        <li>Shopping Malls</li>
        <li>Intersections</li>
        <li>School playground</li>
        <li>Line removals</li>
        <li>Road markings</li>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      	<div class="col-xs-7 text-center">
    		<img src="/static/img/img16.jpeg" height= 100px width=100px class="rounded-circle" alt="HelPic">
		</div>
		<br>
        <h5 class="card-title text-center">Specialised Markings</h5>		
        <p class="card-text">We specialise in pointing the following areas:</p>
        <li>Airports & Airfields</li>
        <li>Warehouse Demarcations</li>
        <li>Factory Safety Markings</li>
        <li>Basement Parkings</li>
        <li>Industrial/Manufacturing Facilities</li>
        <li>Sport Fields</li>
        <br>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<hr>
<br>



<div class="jumbotron" style="background-color: black;">
	<br>
	<h1 class="text-center" style="color: white;">Our Recent Projects<h1>
		<h5 class="text-center">Creating quality markings</h5>
			<br>
		<div class="row">
		      <div class="col-sm">
		         <img src="/static/img/img4.jpg" role="img" width="400" height="400">
		      </div>
		      <div class="col-sm">
		         <img src="/static/img/Project4.jpg" role="img" width="400" height="400">
		      </div>
		      <div class="col-sm">
		        <img src="/static/img/Project3.jpg" role="img" width="400" height="400">
		      </div>
	    </div>
	<br>
</div>
<br><br><br><br>



<div style="background-image: url('/static/img/Project2.jpg'); background-repeat: no-repeat; background-size: cover; color: white;">
	<div style="background-color: rgba(0,0,0,0.4);">
	<br><br>
	<br><br>
		<h1 class="text-center">Site preparation</h1>
		<br>
		<p class="text-center">With a team of trained road painters you are guaranteed of a perfect final output.</p>
		<br>
		<div class="text-center">
			<a href="contact"><button class="btn btn-danger"type="button" href="contact">GET IN TOUCH</button></a>
		</div>
		<br><br>
		<br><br>
	</div>
</div>
<br><br>





{% endblock %}